body {
    font-family: Arial, sans-serif;
    background-color: #fabfbf;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(200, 255, 71);
    font-size: 33px;
    border-bottom: 5px;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-description {
    font-size: 15px;
    color: #555555;
    line-height: 1.4;
    flex-wrap: wrap;
}